.contentPost {
    display:block;
box-shadow: 0 0 5px rgba(0,0,0,0.75), inset 0 0 2px  #33ADFF;
    max-height: 180px;
    overflow-y: hidden;
    font-size: 14px;
}
.contentPost:hover {
    display:block;
box-shadow: 0 0 10px rgba(0,0,0,0.75), inset 0 0 3px  #33ADFF;
    max-height: 180px;
    overflow-y: hidden;
  
}
div.contentPost  >  a{color: black; text-decoration: none; }
div.panel-title > h1 {font-size:19px}
.contentPostReady {
    display:block;

box-shadow: 0 0 2px rgba(0,0,0,0.45), inset 0 0 1px  #33ADFF;
 
  font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}
.postFoter {
     font-family:'Times New Roman', Times, serif;
     font-size: 16px;
}
.blockPost {
    display: inline-block;
    margin: 10px;
    width:250px;
    height:350px;
}

