@using PostModel.Models;
@model IEnumerable<Post>
@{
    ViewBag.Title = "Редактировать пост";
}


<br />
<div class="container">
    @foreach (var item in Model)
    {
        <div class="blockPost text-center">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h1 class="panel-title">@item.NamePost</h1>

                </div>
                <div class="panel-body">
                    <hr />
                    <h3>@item.selectedCategory</h3>
                    <hr />
                    <p>Дата создания: @item.dateAddPost</p>
                </div>
                <div class="panel-footer">
                    <a href="/home/EditPost/@item.PostID">
                        <button type="button" class="btn btn-warning">Редактировать</button>
                    </a>
                    
                        <a href="@Url.Action("deletePost","Home",new { id = item.PostID } )" class="btn btn-danger" id="deletePost" onclick="JavaScript:return confirm('Вы действительно хотите удалить пост?')">Удалить</a>
                    
                </div>
            </div>
        </div>
    }
</div>

